.cont{
    display: grid;
     /*  grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%); */

    grid-template-areas: "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 "
    "1 2 3 4 5 6 7 8 ";
    grid-template-columns: repeat(8,322.22px);
    grid-template-rows: repeat(8,322.22px);
    justify-content: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}                          

.white{
    background-color: white;
}

.black{
    background-color: black;
}